<aside class="four columns omega">
    <nav role="navigation">
	    <ul>
	        <li>documentation</li>
            <ul>
       	    	<li><a href="/dev/overview"><i aria-hidden="true" class="icon-eye"></i>overview</a></li>
				<li><a href="/dev/methodology"><i aria-hidden="true" class="icon-cog"></i>methodology</a></li>
                <li><a href="/dev/tutorials"><i aria-hidden="true" class="icon-graduation-cap"></i>tutorials</a></li>
                <li><a href="/dev/api"><i aria-hidden="true" class="icon-code"></i>api</a></li>
                <li class="subtitle"><a href="/dev/sub-projects"><i aria-hidden="true" class="icon-flow-cascade"></i>sub-projects</a></li>
        	</ul>
            <li><a href="https://github.com/fenixedu/fenixedu.github.io/issues/new">report documentation issue</a></li>
            <li><a href="http://facebook.com/fenixedu" target="_blank">follow fenixedu</li>
            <ul>
                <li><a href="http://github.com/fenixedu" target="_blank"><i aria-hidden="true" class="icon-github"></i>github.com/fenixedu</a></li>
                <li><a href="http://facebook.com/fenixedu" target="_blank"><i aria-hidden="true" class="icon-facebook"></i>facebook.com/fenixedu</a></li>
                <li><a href="http://twitter.com/fenixeduproject" target="_blank"><i aria-hidden="true" class="icon-twitter"></i>@fenixeduproject</a></li>
                <li><a href="irc://irc.freenode.net/fenixedu"><i aria-hidden="true" data-icon="#"></i>fenixedu @ irc.freenode.net</a></li>
            </ul>
            <li><a href="/dev/terms">terms &amp; conditions</a>
                <img src="/images/license.svg" alt="LGPL Version 3">
            </li>
		</ul>
	</nav>
</aside>