 <aside class="four columns omega">
    <nav role="navigation">
	    <ul>
	        <li>documentation</li>
            <ul>
       	    	<li><a href="/dev/overview"><span aria-hidden="true" data-icon="&#59146;"></span>overview</a></li>
				<li><a href="/dev/methodology"><span aria-hidden="true" data-icon="&#9881;"></span>methodology</a></li>
                <li><a href="/dev/tutorials"><span aria-hidden="true" data-icon="&#127891;"></span>tutorials</a></li>
                <li><a href="/dev/api"><span aria-hidden="true" data-icon="&#127891;"></span>api</a></li>
                <li class="subtitle"><a href="/dev/sub-projects"><span aria-hidden="true" data-icon="&#128360;"></span>sub-projects</a></li>
        	</ul>
			<li><a href="/dev/resources">resources</a></li>
            <li><a href="http://github.com/ist-dsi/ist-dsi.github.com/issues/new">report documentation issue</a></li>
            <li>follow fenixedu</li>
            <ul>
                <li><a href="http://github.com/fenixedu"><span aria-hidden="true" data-icon="&#62208;"></span>github.com/fenixedu</a></li>
                <li><a href="http://facebook.com/fenixedu"><span aria-hidden="true" data-icon="&#62220;"></span>facebook.com/fenixedu</a></li>
                <li><a href="http://twitter.com/fenixeduproject"><span aria-hidden="true" data-icon="&#62217;"></span>@fenixeduproject</a></li>
                <li><a href=""><span aria-hidden="true" data-icon="&#62235;"></span>#fenixedu @ irc.freenode.net</a></li>
            </ul>
            <li><a href="/dev/terms">terms &amp; conditions</a>
                <img src="/images/license.svg" alt="LGPL Version 3">
            </li>
		</ul>
	</nav>
</aside>