

/*	 				FENIXEDU.ORG 					*/

/*	 		 Crafted at NME • DSI • IST 			*/

/*		 RITA SEVERO • rita.severo@ist.utl.pt		*/


/* Loadings */

	@font-face {
	    font-family: 'Entypo'; /* "Entypo pictograms by Daniel Bruce — www.entypo.com" */
	    src: url('../fonts/entypo/fontello.eot');
	    src: url('../fonts/entypo/fontello.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/entypo/fontello.woff') format('woff'),
	         url('../fonts/entypo/fontello.ttf') format('truetype'),
	         url('../fonts/entypo/fontello.svg#fontello') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'KlavikaMediumPlain';
	    src: url('../fonts/klavika/klavikamedium-plain-webfont.eot');
	    src: url('../fonts/klavika/klavikamedium-plain-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/klavika/klavikamedium-plain-webfont.woff') format('woff'),
	         url('../fonts/klavika/klavikamedium-plain-webfont.ttf') format('truetype'),
	         url('../fonts/klavika/klavikamedium-plain-webfont.svg#klavika') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'KlavikaRegularPlain';
	    src: url('../fonts/klavika/klavikaregular-plain-webfont.eot');
	    src: url('../fonts/klavika/klavikaregular-plain-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/klavika/klavikaregular-plain-webfont.woff') format('woff'),
	         url('../fonts/klavika/klavikaregular-plain-webfont.ttf') format('truetype'),
	         url('../fonts/klavika/klavikaregular-plain-webfont.svg#klavika') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'KlavikaLightPlain';
	    src: url('../fonts/klavika/klavikalight-plain-webfont.eot');
	    src: url('../fonts/klavika/klavikalight-plain-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/klavika/klavikalight-plain-webfont.woff') format('woff'),
	         url('../fonts/klavika/klavikalight-plain-webfont.ttf') format('truetype'),
	         url('../fonts/klavika/klavikalight-plain-webfont.svg#klavika') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'KlavikaRegularItalic';
	    src: url('../fonts/klavika/klavikaregular-italic-webfont.eot');
	    src: url('../fonts/klavika/klavikaregular-italic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/klavika/klavikaregular-italic-webfont.woff') format('woff'),
	         url('../fonts/klavika/klavikaregular-italic-webfont.ttf') format('truetype'),
	         url('../fonts/klavika/klavikaregular-italic-webfont.svg#klavika') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
		font-family: 'NRSFont';
		src: url('../fonts/NRSFont/NRSFont.eot');
		src: url('../fonts/NRSFont/NRSFont.woff') format('woff'), 
			url('../fonts/NRSFont/NRSFont.ttf') format('truetype'), 
			url('../fonts/NRSFont/NRSFont.svg') format('svg');
		font-weight: normal;
		font-style: normal;
	}


/* Links */

	a, a:visited { 
		color: #333; 
		text-decoration: none; 
		outline: 0;
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
	}
	a:hover, a:focus { color: #19accd; }
	p a, p a:visited { line-height: inherit; }


/* Sections */

	body {
		background: #fefefe;
		font: 14.5px/1.4 "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #222;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
		text-rendering: optimizelegibility;
	}

	::-moz-selection {
		background-color: #eee;
		text-shadow: none;
	}

	::selection {
		background-color: #eee;
		text-shadow: none;
	}

	header.container {
		position: relative;
		height: 215px;
		padding: 65px 0;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	header h1 {
		margin: 0;
	}

	header #logo {
		background: url('../images/logo.svg') no-repeat;
		background-size: contain;
		height: 85px;
		display: block;
	}

	.no-svg header #logo {
		background: url('../images/logo.png') no-repeat;
	}

	header > span {
		position: absolute;
		top: 132px;
		left: 125px;
		text-transform: uppercase;
		font: 19px/1.3 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	main {
		display: block;
		padding-right: 15px;
		margin-bottom: 50px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	footer span {
		border-top: 1px solid #ccc;
		padding-top: 5px;
		margin: 0 0 50px;
	}

	footer span a {color: #19accd!important;}

	article > a{
		display: block;
		clear: left;
		padding: 0 0 5px;
	}

	article > a:hover {
		color: inherit;
	}

	time + strong, time + strong + p {margin-bottom: 10px; display: block; margin-left: 50px;}

	time {
		text-align: center;
		text-transform: uppercase;
		color: #575759;
	}

	time span:first-child {
		font: normal normal 55px/1 "NRSFont", "KlavikaMediumPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	time span {
		font: normal normal 22px/0.5 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		float: left;
	}

	#intro + p {
		text-align: center;
		text-transform: uppercase;
		font: normal normal 15px/1.2 "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		position: relative;
	}

	#intro + p a {
		background: #f5f5f5;
		width: 32.5%;
		display: inline-block;
		padding: 0 0 30px;
		box-sizing: border-box;
		border-bottom: none;
	}

	#intro + p a:before {
		content: '\E810';
		font: 50px/2 "Entypo";
		display: block;
		color: #575759;
	}

	#intro + p a:first-child:before {content: '\E834';}
	#intro + p a:last-child:before {content: '\E856';}

	#intro + p a:hover:before {
		color: #19accd;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}


/* Breadcrumbs */

	main nav {
		border-bottom: 1px solid #ccc;
		padding-bottom: 5px;
	}

	main nav ul li, aside nav > ul > li {
		display: inline-block;
		text-transform: uppercase;
		font: 15px/1.3 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	main nav ul li:first-child {
		width: 16px;
	}

	main nav ul li:first-child a:before {
		content: '\E821';
		font: 17px/1.2 "Entypo";
		color: #ccc;
		position: absolute;
		top: 0;
	}

	main nav ul li:not(:first-child) a:before {
		content: '/';
		font: 16px/1 "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		padding-right: 6px;
		padding-left: 3px;
		color: #555;
	}
	
	main nav ul li:not(:first-child) a:hover:before {
		color: #555;
	}


/* Main Navigation */

	aside {
		text-transform: uppercase;
	}

	aside nav {
		position: relative;
	}

	aside a {
		display: block;
		
	}

	aside a:hover, aside a:active {
		font-family: "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #333;
	}

	aside nav > ul > li {
		color: #555;
		width: 100%;
	}	

	aside nav > ul > li > a, aside nav > ul > li:first-child {
		color: #19accd!important;
		border-bottom: 1px solid #19accd;
		padding-bottom: 7px;
	}

	/*aside nav > ul > li + li {
		border-bottom: 1px solid #666;
		padding-bottom: 7px;
	}*/

	aside nav > ul > ul:not(:last-of-type) {
		margin-bottom: 15px;
		margin-top: 35px;
	}

	aside nav > ul > ul > li.subtitle, aside nav > ul > li:not(:first-child), aside nav > ul > ul:last-of-type {
		padding-top: 15px;
	}

	aside nav [class^="icon-"]:before, aside nav [class*=" icon-"]:before, aside nav [data-icon]:before  {
		font: 20px/1 "Entypo";
		color: #19accd;
		margin: -10px 0px 0 -28px;
		padding-right: 14px;
		text-align: center;
		display: inline-block;
		width: 15px;
	}

	aside nav [data-icon]:before {
		content: attr(data-icon);
		font: normal normal 24px/1 "KlavikaRegularItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	li.subtitle [class^="icon-"]:before, li.subtitle [class*=" icon-"]:before {
		/*color: #555; When it isn't a page */
		margin: -10px 0 0 -24px;
		padding-right: 10px;
	}

	li.subtitle > ul > li:first-child {padding-top: 4px;}

	aside nav.fixed {
    	position: fixed;
    	width: inherit;
    	top: 25px;
    	-webkit-transition: top 0.25s ease;
		-moz-transition: top 0.25s ease;
		-o-transition: top 0.25s ease;
		transition: top 0.25s ease;
    }

	aside nav.absolute {
    	position: absolute;
    	bottom: 0;
    }	

	aside nav.scroll {
		position: relative;
	}

	.expands span {
		background: url('../images/arrow_menu.png') no-repeat 0 4px;
		position: absolute;
		margin: 4px 0 0 -20px;
		width: 5px;
		height: 10px;
		padding: 5px 15px 5px 0;
		/*content: '\25B8';
		font: 40px/1 "Entypo";
		color: #19accd;
		position: absolute;
		margin: -11px 0 0 -25px;
		padding-right: 15px;*/
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: -webkit-transform 0.3s ease-out;
		-moz-transition: -moz-transform 0.3s ease-out;
		transition: transform 0.3s ease-out;
	}

	.expands span.rotated {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-transform-origin: 25% 50%;
		transform-origin: 25% 50%;
   		-webkit-transition: -webkit-transform 0.3s ease-out;
		-moz-transition: -moz-transform 0.3s ease-out;
		transition: transform 0.3s ease-out;		
	}	

	.expands ul {
		display: none;
	}

	.expands ul li a {
		color: #999!important;
	}

	aside nav > ul > ul:last-of-type {
		text-transform: lowercase;
	}

	aside nav ul > ul {
		padding-left: 28px; 
	}

	aside nav ul > ul > li a {
		padding: 4px 0;
	}

	aside img {
		padding: 12px 0 10px;
		width: 118px;
		height: auto;
	}

	aside img[alt="JProfiler"] {
		opacity: 0.18;
		width: 95px;
	}

	#sidebarButton {display: none;}


/* Typography */

	h2 { text-transform: uppercase; margin: 38px 0 20px; }
	h3, h4, h5 { text-transform: uppercase; margin: 28px 0 16px; }
	h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {color: #19accd;}

	h2 {font: 19px/1.3 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;}
	h3, h4 {font: 15px/1.3 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;}
	h5 {font: 14px/1.3 "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;}

	strong {font-family: "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal;}

	main > p a, main > pre code a, main > blockquote a, main > ul li a, main > ol li a, h2 a, h3 a, h4 a, h5 a {
		text-decoration: none;
		border-bottom: thin dotted;
	}

	main > p a:hover, main > ul li a:hover, main > ol li a:hover {
		color: #333;
	}

	main > p {
		margin-bottom: 26px;
	}

	p.browsehappy {
		background: #19accd;
		color: #fefefe;
		padding: 15px;
		text-align: center;
		margin: 0;
	}

	.browsehappy strong, .browsehappy a, .browsehappy a:hover, .browsehappy a:focus, .browsehappy a:visited {color: #fefefe; text-decoration: none;}


/* Lists */

	main > ul, main > ol {
		margin-bottom: 26px;
		line-height: 1.6;
	}

	main > ul li {
		padding-left: 20px;
		background: url('../images/arrow_list.png') no-repeat 2px 6px;
	}

	main > ol {
		counter-reset: item;
	}

	main > ol li:before {
		content: counter(item) ".";
		counter-increment: item;
		padding-right: 10px;
        color: #19accd;
        font-family: "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }


/* Code Snippets */

	pre {
		border-top: 1px solid #19accd;
		border-bottom: 1px solid #19accd;
		padding: 15px 75px 15px 20px;
		margin: 36px 0;
		position: relative;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	pre p {
		position: absolute;
		top: 30px;
		right: 20px;
	}

	/* Copy to Clipboard 

	pre > span {
		font: 13px/1.4 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		position: absolute;
		top: 18px;
		right: 20px;
	}

	pre > span:before {
		content: '\E8d1';
		font: 15px/1 "Entypo";
		color: #ccc;
		display: inline-block;
		margin-right: 5px;
	}

	pre > span > a {
		color: #ccc!important;
	}

	pre > span > a:hover, pre > span:hover:before {
		color: #19accd!important;
	}*/

	pre code, code {
		font: normal normal 12px/1.2 'Anonymous Pro', Courier, "Lucida Console", Terminal, monospace;
	}

	main p code, main li code {
		margin: 0 2px;
		background-color: #f5f5f5;
		border: 1px solid #ddd;
		padding: 2px 2px;
		border-radius: 3px;
	}


/* Tables */

	table {
		width: 100%;
		margin: 20px 0;
	}

	th, tr {border-bottom: 1px solid #ddd;}
	th {font: 14.5px/1.4 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;}
	th, td {text-align: left; padding: 5px 0;}


/* Blockquotes */

	blockquote {
		background: #f5f5f5;
		border: none;
		padding: 20px 65px 20px 20px;
		margin: 36px 0;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	blockquote p {
		font: 14px/1.3 "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	blockquote > p > span {
		font: 13px/1.4 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #666;
		text-transform: uppercase;
		margin-bottom: 15px;
		display: block;
	}

	blockquote > p > span:before {
		content: '\E836';
		font: 18px/1 "Entypo";
		color: #666;
		display: inline-block;
		float: left;
		margin-right: 5px;
		-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
	    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
	    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
	    transform: matrix(-1, 0, 0, 1, 0, 0);
	}

	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }


/* Images */

	main img {
		padding: 10px 0;
		display: block;
	}

	main img + span {
		width: 100%;
		padding: 10px 0;
		margin-bottom: 30px;
		border-bottom: 1px solid #ccc;
		font: 13px/1.2 "KlavikaRegularItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #555;
		display: block;
	}


/* Tags */

	main [class^="icon-"]:before, main [class*=" icon-"]:before {
		font: 12px/1 "Entypo";
		color: #666;
		padding: 2px 5px;
		display: inline-block;
		background-color: #f5f5f5;
		border-left: 1px solid #ddd;
		border-right: none;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		border-radius: 3px 0 0 3px;
	}

	main [class^="icon-"]:after, main [class*=" icon-"]:after {
		font: 12px/1 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #666;
		padding: 3px 5px 1px 0;
		display: inline-block;
		background-color: #f5f5f5;
		border-left: none;
		border-right: 1px solid #ddd;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		border-radius: 0 3px 3px 0;
		margin-right: 2px;
	}

	main li a + i {margin-left: 5px;}

	main .icon-lock-open:after {content: 'Public';}
	main .icon-lock:after  {content: 'Private';}
	main .icon-user:after  {content: 'Personal Scope';}
	main .icon-basket:after  {content: 'Payment Scope';}
	main .icon-calendar:after  {content: 'Schedule Scope';}
	main .icon-graduation-cap:after  {content: 'Curricular Scope';}
	main .icon-chart-area:after  {content: 'Evaluation Scope';}


/* Mobile Specific Styles */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	body {color: #111;}
	header h1, main, footer {padding-left: 15px;}
	header > span {left: 140px;}
	main img {
		max-width: 100%;
		height: auto;
	}
	pre {padding: 5px 15px;}
	blockquote {padding: 15px;}
	footer span {padding-bottom: 30px;}
	footer {margin-top: 30px; display: block;}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* Mobile Size to Tablet Portrait (devices and browsers) */
@media only screen and (max-width: 767px) {

	header.container {height: 85px; padding: 30px 0;}
	header #logo {background-size: 108px; height: 30px; background-position: 0 -60px;}
	header > span {top: 33px; left: 130px; text-transform: capitalize;}
	main nav ul li {font: 13px/1.3 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;}
	main nav ul li:not(:first-child) a:before {font: 14px/1 "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;}
	main nav ul li:first-child a:before {font: 15px/1.4 "Entypo";}
	#intro + p a {padding: 0 5px 30px;}

	#sidebarButton {display: block;}
	#sidebarButton:before {
		content: '\E811';
		font: 30px/1 "Entypo";
		background: #fefefe;
		color: #19accd;
		position: absolute;
		top: 22.5px;
		right: 5px;
		padding: 10px;
		display: block;
	}

	.active #sidebarButton:before {
		content: '\E813';
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.container { 
		width: 90%; 
		display: block; 
		z-index: 1; 
		left: 0; 
		position: relative; 
		-webkit-transition: 0.25s all ease-in; 
		-moz-transition: 0.25s all ease-in; 
		-o-transition: 0.25s all ease-in; 
		transition: 0.25s all ease-in;
		overflow: hidden;
	}

	aside.columns.omega { position: absolute; top: -85px; left: 106%; display: block; width: 80%!important; z-index: 2; background: #19accd;
		-webkit-box-shadow: inset 1px 0 15px 3px #138099;
        box-shadow: inset 1px 0 15px 3px #138099}
	aside nav.fixed, aside nav.absolute, aside nav.scroll {display: block; position: static; padding: 7.5%; width: 82.5%;}
	aside nav [class^="icon-"]:before, [class*=" icon-"]:before, aside nav [data-icon]:before {color: #0F6478;}
	aside nav > ul > li > a, aside nav > ul > li:first-child {color: #0D5566!important; border-bottom: 1px solid #0D5566;}
	aside img {opacity: 0.5;}

	.active aside.columns.omega { left: 105%; }
	.active > .container { left: -70%!important; overflow: visible;}
	.container .columns {width: 100%!important;}
	time.one.columns {width: 10%!important; float: left;}
}


/* Print */

@media print {

body {margin: 60px 120px;}

header.container {
	height: 50px;
	padding: 50px 0 0;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

header h1, header > span {
	font: 30px/1.3 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: capitalize;
	float: left;
}

header h1 {
	position: relative;
	width: auto!important;
	margin-right: 0!important;
}

header > span {
	top: 50px;
	left: auto;
	margin-left: 7.5px;
}

header a[href]:after {content: "FenixEdu™";}

header > span:after {
    content: "(http://dev.fenixedu.org)";
    font: 17.5px/1.3 "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 1px dotted #000;
    position: absolute;
	top: 40px;
	left: -135px;
	text-transform: lowercase;
}

main {width: 90%!important;}
main > ol li:before, footer span a {color: #000!important;}

main > ul li:before {
	content: '\E885';
	font: 18px/1.2 "Entypo";
	color: #000;
	padding-right: 10px;
}

main > ul li {padding-left: 0;}

h2 {font: 22px/1.3 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif!important;}
h3 {font: 18px/1.3 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif!important;}
h4, h5 {font-size: 16px; line-height: 1.3!important;}
pre code, code {font: normal normal 14px/1.4 'Anonymous Pro', Courier, "Lucida Console", Terminal, monospace!important;}
main > p, ul li, ol li, main a, blockquote p {font: 16px/1.4 "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif!important;}

pre {
	border-top: 1px dotted #000;
	border-bottom: 1px dotted #000;
	border-left: none;
	border-right: none;
}

blockquote {
	padding: 20px 50px 20px 0;
	border-bottom: 1px dotted #000;
	margin: 0;
}

main nav, aside nav, pre span:first-child, #sidebarButton {display: none;}
footer span {border-top: 1px solid #000;}

}