

/*	 				FENIXEDU.ORG 					*/

/*	 		 Crafted at NME • DSI • IST 			*/

/*		 RITA SEVERO • rita.severo@ist.utl.pt		*/


/* Loadings */

	@font-face {
	    font-family: 'Entypo'; /* "Entypo pictograms by Daniel Bruce — www.entypo.com" */
	    src: url('../fonts/entypo/fontello.eot');
	    src: url('../fonts/entypo/fontello.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/entypo/fontello.woff') format('woff'),
	         url('../fonts/entypo/fontello.ttf') format('truetype'),
	         url('../fonts/entypo/fontello.svg#fontello') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
	
	@font-face {
	    font-family: 'KlavikaMediumPlain';
	    src: url('../fonts/klavika/klavikamedium-plain-webfont.eot');
	    src: url('../fonts/klavika/klavikamedium-plain-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/klavika/klavikamedium-plain-webfont.woff') format('woff'),
	         url('../fonts/klavika/klavikamedium-plain-webfont.ttf') format('truetype'),
	         url('../fonts/klavika/klavikamedium-plain-webfont.svg#klavika') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'KlavikaRegularPlain';
	    src: url('../fonts/klavika/klavikaregular-plain-webfont.eot');
	    src: url('../fonts/klavika/klavikaregular-plain-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/klavika/klavikaregular-plain-webfont.woff') format('woff'),
	         url('../fonts/klavika/klavikaregular-plain-webfont.ttf') format('truetype'),
	         url('../fonts/klavika/klavikaregular-plain-webfont.svg#klavika') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'KlavikaLightPlain';
	    src: url('../fonts/klavika/klavikalight-plain-webfont.eot');
	    src: url('../fonts/klavika/klavikalight-plain-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/klavika/klavikalight-plain-webfont.woff') format('woff'),
	         url('../fonts/klavika/klavikalight-plain-webfont.ttf') format('truetype'),
	         url('../fonts/klavika/klavikalight-plain-webfont.svg#klavika') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'KlavikaRegularItalic';
	    src: url('../fonts/klavika/klavikaregular-italic-webfont.eot');
	    src: url('../fonts/klavika/klavikaregular-italic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/klavika/klavikaregular-italic-webfont.woff') format('woff'),
	         url('../fonts/klavika/klavikaregular-italic-webfont.ttf') format('truetype'),
	         url('../fonts/klavika/klavikaregular-italic-webfont.svg#klavika') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
		font-family: 'NRSFont';
		src: url('../fonts/NRSFont/NRSFont.eot');
		src: url('../fonts/NRSFont/NRSFont.woff') format('woff'), 
			url('../fonts/NRSFont/NRSFont.ttf') format('truetype'), 
			url('../fonts/NRSFont/NRSFont.svg') format('svg');
		font-weight: normal;
		font-style: normal;
	}


/* Links */

	a:not(.button), a:visited:not(.button) { 
		color: #333; 
		text-decoration: none; 
		outline: 0;
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
	}
	a:hover:not(.button), a:focus:not(.button) { color: #19accd; position: relative;}
	p a, p a:visited { line-height: inherit; border-bottom: thin dotted;}


/* Sections */

	body {
		background: #fefefe;
		font: normal normal 16px/1.4 "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #333;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
		text-rendering: optimizelegibility;
	}

	::-moz-selection {
		background-color: #eee;
		text-shadow: none;
	}

	::selection {
		background-color: #eee;
		text-shadow: none;
	}

	header.container {
		height: 165px;
		padding: 40px 0;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	header #logo {
		background: url('../images/logo.svg') no-repeat;
		background-size: contain;
		height: 85px;
		display: block;
	}

	.no-svg header #logo {background: url('../images/logo.png') no-repeat;}

	header nav ul {
		padding-top: 20px;
		text-align: right;
		margin-bottom: 0;
		text-transform: uppercase;
	}

	header nav ul li {
		display: inline-block;
		text-align: center;	
	}

	header nav ul li:not(:last-child) {
		margin-top: 15px;
		width: 80px;
		padding-right: 15px;
	}

	header nav ul li:last-child {margin-left: 20px;}

	section#highlight {
		background: url('../images/highlight_bg_ignition.png') repeat 0 0;
		height: 595px;
		padding: 120px 0;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	time {
		text-align: center;
		text-transform: uppercase;
		color: #575759;
	}

	time span:first-child {
		font: normal normal 70px/0.95 "NRSFont", "KlavikaMediumPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		/*font: normal normal 78px/0.95 "NRSFont", "KlavikaMediumPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	}

	time span {
		font: normal normal 16px/1 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		/*font: normal normal 24px/0.2 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
		float: left;
	}

	time + p {
		padding-right: 35px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	hr {
		overflow: hidden;
		border: none;
		height: 18px;
		background: url('../images/hr.png') no-repeat;
		background-size: 100%;
		width: 75%;
		margin: 80px auto 0;
	}

	.user_box > p {min-height: 135px;}

	.user_box:nth-last-child(n+3) {
		margin-bottom: 50px;
	}

	#map {
		width: 100%;
		height: 600px; 
	}

	#map + div {
		display: block; 
		z-index: 999; 
		position: relative; 
		top: -570px; 
		right: 20px; 
		float: right;
	}

	#submap {
		width: 200px; 
		height: 130px; 
		border: 1px solid #ccc;
		position: absolute;
		float: right;
		right: 0px;
	}

	section#calltoaction {
		background: #333;
		border-bottom: 1px solid #666;
		margin-top: 75px;
	}

	footer {
		background: #333;
		color: #808080;
	}

	footer .container {
		padding: 50px 0;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	footer > div > div {
		padding: 15px 0 0;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	footer > div > div:first-child {
		background: url('../images/logo_white_plain.svg') no-repeat 0 0;
		padding: 100px 40px 0 0;
		font-size: 14px;
	}

	.no-svg footer > div > div:first-child {background: url('../images/logo_white_plain.png') no-repeat 0 0;}

	.social {margin-top: 8px;}

	.social a:not(:last-child) {
		display: block;
		border-bottom: 1px solid #666;
		padding-bottom: 16px;
		margin-bottom: -10px;
	}

	.social a span {
		color: #666;
		display: block;
		text-transform: uppercase;
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
	}

	.social a span:first-child {font: normal normal 25px/1.2 "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;}
	.social a span:last-child {font: normal normal 15px/1.1 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;}

	.social a:before {
		content: '\E8f3';
		font: normal normal 25px/2.1 "Entypo"; 
		background: #666;
		color: #333;
		width: 50px;
		height: 50px;
		display: block;
		float: left;
		margin-right: 7.5px;
		text-align: center;
		speak: none;
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
	}

	.social a:last-child:before {
		content: '\E8f1';
	}

	.social a:hover span {color: #ccc;} 
	.social a:hover:before {background: #ccc;}

	footer > div > a {
		background: url('../images/logo_ist.svg') no-repeat 0 0;
		display: block;
		height: 40px;
		opacity: 0.3;
		margin-top: 48px;
	}

	.no-svg footer > div > a {background: url('../images/logo_ist.png') no-repeat 0 0; background-size: contain;}

	footer > div > p {
		font: normal normal 14px/1.2 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin: 55px 0 25px;
	}

	footer > div > p span {
		font-family: normal normal "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		text-transform: capitalize;
	}


/* Typography */

	h1 {font: normal normal 35px/1.6 "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif; color:#fefefe; margin-bottom: 28px; margin-top: 0;}
	h2 {font: normal normal 35px/1.2 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #19accd; margin-bottom: 40px; margin-top: 60px;}
	h3 {font: normal normal 25px/1.2 "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #fefefe;}
	h4 {font: normal normal 21px/1.2 "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #fefefe; margin-bottom: 40px;}
	h5 {font: normal normal 19px/1.2 "KlavikaMediumPlain", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #575759; margin-bottom: 35px;}
	h6 {font: normal normal 16px/1.2 "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #fefefe; margin-bottom: 65px;}

	h1, h2, h3, h4, h5, h6 {text-transform: uppercase;}
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	em { font-family: "KlavikaRegularItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;}
	strong { font-family: "KlavikaMediumPlain", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #333; }

	h1 span{
		background: #19accd;
		padding: 9px 20px;
	}

	h3 a, h3 a:visited {
		color: #ccc!important;
		padding: 25px 0 30px;
		display: block;
		text-decoration: none; 
		outline: 0;
		letter-spacing: 0.02em;
	}

	h3 a span {
		font-family: "KlavikaMediumPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		padding: 0 15px;
	}

	h3 a span:after {
		content: '›';
		font-family: "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 40px;
		padding-left: 15px;
	}

	p img { margin: 0; }
	p.lead { font: normal normal 19px/1.45 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif; margin-bottom: 92px;}
	.eight.columns > p, p.eight.columns {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding-right: 20px;
	}

	p.browsehappy,  {
		background: #19accd;
		color: #fefefe;
		padding: 15px;
		text-align: center;
	}

	.browsehappy strong, .browsehappy a, .browsehappy a:hover, .browsehappy a:focus, .browsehappy a:visited {color: #fefefe; text-decoration: none;}

	[class^="icon-"]:before, [class*=" icon-"]:before {
		font: normal normal 30px/1 "Entypo";
		font-variant: normal;
  		text-transform: none;
		color: #19accd;
		margin-right: 15px;
		speak: none;
	}


/* Blockquotes */

	blockquote {
		font: normal normal 15px/1.3 "KlavikaRegularItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;
		padding: 40px 180px 40px 0;
		margin-top: 75px;
		border-top: 1px solid #19accd;
		border-bottom: 1px solid #19accd;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	blockquote p {
		font: normal normal 14px/1.2 "KlavikaRegularItalic", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #999;
	}

	blockquote p span {
		display: block;
		color: #19accd;
		margin-top: 25px;
	}

	/*blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }*/


/* Lists */

	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }


/* Buttons */

	.button,
	button,
	input[type="submit"],
	input[type="button"] {
		background: #19accd;
		-moz-border-radius: 1px;
		-webkit-border-radius: 1px;
		border-radius: 1px;
		display: inline-block;
		font: normal normal 16px/1 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #fefefe;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		cursor: pointer;
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
	}

	.button:not(.icon),
	button:not(.icon),
	input[type="submit"]:not(.icon),
	input[type="button"]:not(.icon) {
		padding: 14px 15px;
	}

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="button"]:hover,
	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="button"]:active {
		background: #575759;
	}

	.button.anchor {
		background: #f9f9f9;
		color: #575759;
	}

	.button.icon {
		font: normal normal 16px/2.7 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		margin-bottom: 20px;
		margin-top: 5px;
	}

	.button.icon:first-child:before {
		content: '';
		width: 64px;
		height: 43px;
		float: left;
		border-right: 1px solid #76cee2;
		background: transparent url('../images/logo_white.svg') no-repeat 50% 40%;
	}

	.no-svg .button.icon:first-child:before {background: transparent url('../images/logo_white.png') no-repeat center center;}
	.button.icon:first-child:hover:before {border-right: 1px solid #ccc;}

	.button.icon:last-child {
		background: #666;
		color: #333;
		line-height: 2.2;
		width: 82%;
		height: 34px;
	}

	.button.icon:last-child:before {
		content: '\E8b7';
		font: normal normal 25px/1.4 "Entypo";
		font-variant: normal;
  		text-transform: none;
		float: left;
		border-right: 1px solid #333;
		padding: 0 14px;
		speak: none;
	}

	.button.icon:last-child:hover {
		background: #ccc;
	}

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}


/* Forms */

	form fieldset {
		padding: 0;
		margin: 0;
		border: none;
	}

	::-webkit-input-placeholder, .placeholder {
		color: #666;
		font: normal normal 16px/1.3 "KlavikaLightPlain", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	:-moz-placeholder, .placeholder { /* Firefox 18- */
		color: #666; 
		font: normal normal 16px/1.3 "KlavikaLightPlain", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	}
	::-moz-placeholder, .placeholder {  /* Firefox 19+ */
		color: #666;  
		font: normal normal 16px/1.3 "KlavikaLightPlain", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	:-ms-input-placeholder, .placeholder {  
		color: #666;  
		font: normal normal 16px/1.3 "KlavikaLightPlain", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	form input[type="text"],
	form input[type="password"],
	form input[type="email"],
	form textarea {
		background-color: transparent;
		border: none;
		outline: none;
		border-bottom: 1px solid #666;
		font: normal normal 16px/1.2 "KlavikaLightPlain", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #ccc;
		padding: 6px 4px 8px 0;
		margin: 0;
		width: 80%;
		display: block;
		margin-bottom: 13px;
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		-webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
	}
	form textarea {
		font: normal normal 14px/1.3 "KlavikaLightPlain", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		min-height: 65px;
		resize: vertical;
		margin-bottom: 10px;
	}
	form input[type="text"]:focus,
	form input[type="password"]:focus,
	form input[type="email"]:focus,
	form textarea:focus {
		border-bottom: 1px solid #ccc;
 		color: #ccc;
	}

	form label {
		text-transform: capitalize;
		text-indent: -9999px;
		float: left;
	}


/* Clear after event */

	h1, p.lead {
		margin-top: 35px;
		font-family: "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #fefefe;
	}

	p.lead {margin-bottom: 70px;}
	h1 span {background: none; padding: 0;}
	h1 [class^="icon-"]:before {color: #fefefe;}

	#highlight .button:not(.anchor) {
		background: none;
		color: #fefefe;
		border: 1px solid #fefefe;
	}

	.button.anchor {
		background: #fefefe;
		color: #1e8677;
		border: 1px solid #fefefe;
	}


/* Media Queries */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

	.button.icon:first-child {width: 280px;}
	#map {height: 450px;}
	#map + div {top: -430px;}
	.user_box > p {min-height: 160px;}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {	
	#highlight .button {width: 200px;}
	.button.icon:last-child {width: 93%;}
	h3 {font-size: 22px;}
	hr {margin: 60px auto 0;}
	form input[type="text"], form input[type="password"], form input[type="email"], form textarea {width: 90%;}
	footer > div > div:first-child {padding: 100px 20px 0 0;}
	time + p {padding-right: 0px; padding-left: 10px;}
	footer > div > a {background-size: 85%;}
	.no-svg footer > div > a {background-size: 85%;}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	section#highlight {
		background-size: auto 370px;
		height: 370px;
		padding: 54px 0;
	}
	nav ul, footer > div > a {display: none!important;}
	p.lead {font: normal normal 16px/1.35 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif; padding-top: 25px;}
	#highlight div div {margin-top: 35px;}
	#highlight .button {width: 178px; float: left;}
	.button, button, input[type="submit"], input[type="button"]  {font: normal normal 15px/1 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;}
	.button:not(.icon), button:not(.icon), input[type="submit"]:not(.icon), input[type="button"]:not(.icon) {padding: 10px 15px;}
	.button.icon:first-child {width: 100%; margin-top: 20px;}
	.button.icon:last-child {width: 98%;}
	[class^="icon-"]:before, [class*=" icon-"]:before {font: normal normal 25px/1 "Entypo";}

	section#highlight h1 {margin-top: 25px;}
	h1 span {font-size: 30px;}
	h2 {font: normal normal 30px/1.2 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 30px 0 27.5px;}
	h3 {font: normal normal 20px/0.8 "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif}
	h3 a {padding: 35px 0 30px;}
	h5, h6 {margin-bottom: 20px;}

	time {width: 10%!important; float: left;}
	time + p {
		float: left;
		width: 89.5%!important;
		padding-left: 12px;
		padding-right: 0;
	}

	hr {width: 90%; margin: 60px auto 0;}
	.user_box, .user_box:nth-last-child(n+3) {margin-bottom: 40px!important;}
	.user_box > p {min-height: 1px;}

	blockquote {margin-top: 30px; padding: 30px 180px 30px 0;}
	section#calltoaction {margin-top: 40px;}
	footer > div > div, footer > div > p {padding: 30px 0 0;}
	footer > div > div:first-child {padding: 85px 20px 10px 0;}
	form input[type="text"], form input[type="password"], form input[type="email"], form textarea {width: 97.5%;}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	section#highlight h1 {margin-top: 32px;}
	h1 span {font-size: 21px;}
	h2 {font: normal normal 24px/1.2 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;}
	h3 {font: normal normal 16px/1.2 "KlavikaLightPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;}
	h3 a, h3 a:visited  {letter-spacing: 0;}
	h3 a span:after {font-size: 25px;}
	#highlight .button {width: 118px;}
	time+p {padding-left: 22px;}
	hr {margin: 45px auto 0;}
}