
/* Map InfoBubble Styles */

  .bubbleContent > a {
    position: relative;
    display: block;
  }

   .bubbleContent > a span {
    font: normal normal 14px/1.2 "KlavikaRegularPlain", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fefefe;
    width: 98%;
    border-top: 1px solid #fefefe;
    padding-top: 10px;
    position: absolute;
    top: 72px;
  }

  .bubbleContent > a div {
    height: 50px;
    padding: 8.5px 0;
  }


  .bubbleContent img {
    max-width: 165px;
    height: auto;
  }